.toolbar-item {
  padding: 5px 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1rem;
  box-sizing: border-box;
  white-space: pre;
}

.toolbar-item img {
  width: 32px;
  height: 32px;
}

.toolbar-item p {
  margin: 0;
  padding: 0;
}