.toolbar-item {
  padding: 5px 7px;

  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 0.9rem;
  box-sizing: border-box;
  white-space: pre;
}

.toolbar-item:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #ccc;
  background-color: rgba(4, 137, 186, 0.09);
}

.toolbar-item img {
  width: 32px;
  height: 32px;
}

.toolbar-item__selected {
  box-shadow: inset 0 0 0 1px #ccc;
  background-color: rgba(4, 137, 186, 0.09);;
}

.toolbar-item p {
  margin: 0;
  padding: 0;
}